<!-- PARTE DOS DADOS -->

<tr>
    <td>Documento CSV de Acidentes 2025 (Agrupados por ocorrência)</td>
    <td><a class="external-link" href="https://drive.google.com/file/d/1-G3MdmHBt6CprDwcW99xxC4BZ2DU5ryR/view?usp=sharing/download" target="_blank" data-tippreview-enabled="true" data-tippreview-image="" data-tippreview-title="" data-tippy="" data-original-title="Clique aqui para baixar">Baixar planilha</a><a href="https://drive.google.com/file/d/14lB0vqMFkaZj8HZ44b0njYgxs9nAN8KO/view?usp=sharing/download" target="_blank" title="Clique aqui para baixar" data-tippreview-enabled="false" data-tippreview-image="" data-tippreview-title=""></a></td>
</tr>
<tr>
    <td>Documento CSV de Acidentes 2025 (Agrupados por pessoa)</td>
    <td><a class="external-link" href="https://drive.google.com/file/d/1-Gp9S-ALO0D1nT8S_OKoC8xlW7BY8F82/view?usp=sharing/download" target="_blank" data-tippreview-enabled="true" data-tippreview-image="" data-tippreview-title="" data-tippy="" data-original-title="Clique aqui para baixar">Baixar planilha</a><a href="https://drive.google.com/file/d/14lB0vqMFkaZj8HZ44b0njYgxs9nAN8KO/view?usp=sharing/download" target="_blank" title="Clique aqui para baixar" data-tippreview-enabled="false" data-tippreview-image="" data-tippreview-title=""></a></td>
</tr>
<tr>
    <td>Documento CSV de Acidentes 2025 (Agrupados por pessoa - Todas as causas e tipos de acidentes)</td>
    <td><a class="external-link" href="https://drive.google.com/file/d/1-PJGRbfSe7PVjU37A3wTCls_NRXyVGRD/view?usp=sharing/download" target="_blank" data-tippreview-enabled="true" data-tippreview-image="" data-tippreview-title="" data-tippy="" data-original-title="Clique aqui para baixar">Baixar planilha</a><a href="https://drive.google.com/file/d/14lB0vqMFkaZj8HZ44b0njYgxs9nAN8KO/view?usp=sharing/download" target="_blank" title="Clique aqui para baixar" data-tippreview-enabled="false" data-tippreview-image="" data-tippreview-title=""></a></td>
</tr>
<tr>z
    <td>Documento CSV de Acidentes 2024 (Agrupados por ocorrência)</td>
    <td><a href="https://drive.google.com/file/d/14lB0vqMFkaZj8HZ44b0njYgxs9nAN8KO/view?usp=sharing/download" target="_blank" title="Clique aqui para baixar" data-tippreview-enabled="false" data-tippreview-image="" data-tippreview-title="">Baixar planilha</a></td>
</tr>
<tr>
    <td>Documento CSV de Acidentes 2024 (Agrupados por pessoa)</td>
    <td><a href="https://drive.google.com/file/d/14lVfqdoE2gxDliaKZu7K9Mx6847maPtl/view?usp=sharing/download" target="_blank" title="Clique aqui para baixar" data-tippreview-enabled="false" data-tippreview-image="" data-tippreview-title="">Baixar planilha</a></td>
</tr>
<tr>
    <td>Documento CSV de Acidentes 2024 (Agrupados por pessoa - Todas as causas e tipos de acidentes)</td>
    <td><a href="https://drive.google.com/file/d/14qBOhrE1gioVtuXgxkCJ9kCA8YtUGXKA/view?usp=sharing/download" target="_blank" title="Clique aqui para baixar" data-tippreview-enabled="false" data-tippreview-image="" data-tippreview-title="">Baixar planilha</a><a href="https://drive.google.com/file/d/1-WO3SfNrwwZ5_l7fRTiwBKRw7mi1-HUq/view?usp=sharing/download" target="_blank" title="Clique aqui para baixar" data-tippreview-enabled="false" data-tippreview-image="" data-tippreview-title=""></a></td>
</tr>
<tr>
    <td>Documento CSV de Acidentes 2023 (Agrupados por ocorrência)</td>
    <td><a href="https://drive.google.com/file/d/1-WO3SfNrwwZ5_l7fRTiwBKRw7mi1-HUq/view?usp=sharing/download" target="_blank" title="Clique aqui para baixar" data-tippreview-enabled="false" data-tippreview-image="" data-tippreview-title="">Baixar planilha</a><a href="https://drive.google.com/file/d/1-WO3SfNrwwZ5_l7fRTiwBKRw7mi1-HUq/view?usp=sharing/download" target="_blank" title="Clique aqui para baixar" data-tippreview-enabled="false" data-tippreview-image="" data-tippreview-title=""></a></td>
</tr>
<tr>
    <td>Documento CSV de Acidentes 2023 (Agrupados por pessoa)</td>
    <td><a href="https://drive.google.com/file/d/1-Yk6TV00CH3PixTkKmkoUJQsNiUc5xLm/view?usp=share_link/download" target="_blank" title="Clique aqui para baixar" data-tippreview-enabled="false" data-tippreview-image="" data-tippreview-title="">Baixar planilha</a></td>
</tr>
<tr>
    <td>Documento CSV de Acidentes 2023 (Agrupados por pessoa - Todas as causas e tipos de acidentes)</td>
    <td><a href="https://drive.google.com/file/d/1-caam_dahYOf2eorq4mez04Om6DD5d_3/view?usp=sharing/download" target="_blank" title="Clique aqui para baixar" data-tippreview-enabled="false" data-tippreview-image="" data-tippreview-title="">Baixar planilha</a></td>
</tr>
<tr>
    <td>Documento CSV de Acidentes 2022&nbsp;(Agrupados por ocorrência) &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
    <td><a href="https://drive.google.com/file/d/1PRQjuV5gOn_nn6UNvaJyVURDIfbSAK4-/view?usp=sharing/download" target="_blank" title="Clique aqui para baixar" data-tippreview-enabled="false" data-tippreview-image="" data-tippreview-title="">Baixar planilha</a></td>
</tr>
<tr>
    <td>Documento CSV de Acidentes 2022&nbsp;(Agrupados por pessoa)</td>
    <td><a href="https://drive.google.com/file/d/1sd8YIqIHapYaxQeaa-6yeWMdVLTl6hgD/view?usp=sharing/download" target="_blank" title="Clique aqui para baixar" data-tippreview-enabled="false" data-tippreview-image="" data-tippreview-title="">Baixar planilha</a><a href="https://drive.google.com/file/d/1PRQjuV5gOn_nn6UNvaJyVURDIfbSAK4-/view?usp=sharing/download" target="_blank" title="Clique aqui para baixar" data-tippreview-enabled="false" data-tippreview-image="" data-tippreview-title=""></a></td>
</tr>
<tr>
    <td>Documento CSV de Acidentes 2022&nbsp;(Agrupados por pessoa - Todas as causas e tipos de acidentes)</td>
    <td><a href="https://drive.google.com/file/d/1wskEgRC3ame7rncSDQ7qWhKsoKw1lohY/view?usp=sharing/download" target="_blank" title="Clique aqui para baixar" data-tippreview-enabled="false" data-tippreview-image="" data-tippreview-title="">Baixar planilha</a></td>
</tr>
<tr>
    <td>Documento CSV de Acidentes 2021 (Agrupados por ocorrência)</td>
    <td><a class="external-link" href="https://drive.google.com/file/d/12xH8LX9aN2gObR766YN3cMcuycwyCJDz/view?usp=sharing/download" target="_blank" data-tippreview-enabled="true" data-tippreview-image="" data-tippreview-title="" data-tippy="" data-original-title="Clique aqui para baixar">Baixar planilha</a></td>
</tr>
<tr>
    <td>Documento CSV de Acidentes 2021 (Agrupados por pessoa)</td>
    <td><a href="https://drive.google.com/file/d/15W_l07-6taOh8Ycn8uk2Er9PnSj0vq3f/view?usp=drive_link/download" target="_blank" title="Clique aqui para baixar" data-tippreview-enabled="false" data-tippreview-image="" data-tippreview-title="">Baixar planilha</a><a href="https://drive.google.com/file/d/1-WO3SfNrwwZ5_l7fRTiwBKRw7mi1-HUq/view?usp=sharing/download" target="_blank" title="Clique aqui para baixar" data-tippreview-enabled="false" data-tippreview-image="" data-tippreview-title=""></a></td>
</tr>
<tr>
    <td>Documento CSV de Acidentes 2021 (Agrupados por pessoa - Todas as causas e tipos de acidentes)</td>
    <td><a href="https://drive.google.com/file/d/1Gk3U6cMOZIevsDZHLi6J503xoCRS_lnI/view?usp=drive_link/download" target="_blank" title="Clique aqui para baixar" data-tippreview-enabled="false" data-tippreview-image="" data-tippreview-title="">Baixar planilha</a><a href="https://drive.google.com/file/d/1-WO3SfNrwwZ5_l7fRTiwBKRw7mi1-HUq/view?usp=sharing/download" target="_blank" title="Clique aqui para baixar" data-tippreview-enabled="false" data-tippreview-image="" data-tippreview-title=""></a></td>
</tr>
<tr>
    <td>Documento CSV de Acidentes 2020 (Agrupados por ocorrência)</td>
    <td><a href="https://drive.google.com/file/d/1esu6IiH5TVTxFoedv6DBGDd01Gvi8785/view?usp=sharing/download" target="_blank" title="Clique aqui para baixar" data-tippreview-enabled="false" data-tippreview-image="" data-tippreview-title="">Baixar planilha</a></td>
</tr>
<tr>
    <td>Documento CSV de Acidentes 2020 (Agrupados por pessoa)</td>
    <td><a href="https://drive.google.com/file/d/1iQvs2D9a2XO9vIukrjEIIhtjzkNkgD7Z/view?usp=drive_link/download" target="_blank" title="Clique aqui para baixar" data-tippreview-enabled="false" data-tippreview-image="" data-tippreview-title="">Baixar planilha</a></td>
</tr>
<tr>
    <td>Documento CSV de Acidentes 2020 (Agrupados por pessoa - Todas as causas e tipos de acidentes)</td>
    <td><a href="https://drive.google.com/file/d/1yQtVOsAlupPHQVVTmbJo0NR3XMzgHANO/view?usp=sharing/download" target="_blank" title="Clique aqui para baixar" data-tippreview-enabled="false" data-tippreview-image="" data-tippreview-title="">Baixar planilha</a></td>
</tr>
<tr>
    <td>Documento CSV de Acidentes 2019 (Agrupados por ocorrência)</td>
    <td><a href="https://drive.google.com/file/d/1pN3fn2wY34GH6cY-gKfbxRJJBFE0lb_l/view?usp=drive_link/download" target="_blank" title="Clique aqui para baixar" data-tippreview-enabled="false" data-tippreview-image="" data-tippreview-title="">Baixar planilha</a></td>
</tr>
<tr>
    <td>Documento CSV de Acidentes 2019 (Agrupados por pessoa)</td>
    <td><a href="https://drive.google.com/file/d/14r_9zudjjndgcnjRddzD5lvn9MX5VvZZ/view?usp=drive_link/download" target="_blank" title="Clique aqui para baixar" data-tippreview-enabled="false" data-tippreview-image="" data-tippreview-title="">Baixar planilha</a></td>
</tr>
<tr>
    <td>Documento CSV de Acidentes 2019 (Agrupados por pessoa - Todas as causas e tipos de acidentes)</td>
    <td><a href="https://drive.google.com/file/d/1DAJYKVfkTcPhQodSmHp9rsG1Q8XJW-m3/view?usp=drive_link/download" target="_blank" title="Clique aqui para baixar" data-tippreview-enabled="false" data-tippreview-image="" data-tippreview-title="">Baixar planilha</a></td>
</tr>
<tr>
    <td>Documento CSV de Acidentes 2018 (Agrupados por ocorrência)</td>
    <td><a href="https://drive.google.com/file/d/1cM4IgGMIiR-u4gBIH5IEe3DcvBvUzedi/view?usp=drive_link/download" target="_blank" title="Clique aqui para baixar" data-tippreview-enabled="false" data-tippreview-image="" data-tippreview-title="">Baixar planilha</a></td>
</tr>
<tr>
    <td>Documento CSV de Acidentes 2018 (Agrupados por pessoa)</td>
    <td><a href="https://drive.google.com/file/d/1Ja1dN8R_-Dw7sjQVo63UQHicO3jfyzIS/view?usp=drive_link/download" target="_blank" title="Clique aqui para baixar" data-tippreview-enabled="false" data-tippreview-image="" data-tippreview-title="">Baixar planilha</a></td>
</tr>
<tr>
    <td>Documento CSV de Acidentes 2018 (Agrupados por pessoa - Todas as causas e tipos de acidentes)</td>
    <td><a href="https://drive.google.com/file/d/1J-012nSnIafOASNFvIYY_vDKKpM51w5_/view?usp=drive_link/download" target="_blank" title="Clique aqui para baixar" data-tippreview-enabled="false" data-tippreview-image="" data-tippreview-title="">Baixar planilha</a></td>
</tr>
<tr>
    <td>Documento CSV de Acidentes 2017 (Agrupados por ocorrência)</td>
    <td><a href="https://drive.google.com/file/d/1HPLWt5f_l4RIX3tKjI4tUXyZOev52W0N/view?usp=drive_link/download" target="_blank" title="Clique aqui para baixar" data-tippreview-enabled="false" data-tippreview-image="" data-tippreview-title="">Baixar planilha</a></td>
</tr>
<tr>
    <td>Documento CSV de Acidentes 2017 (Agrupados por pessoa)</td>
    <td><a href="https://drive.google.com/file/d/1mw2CerP_ZEZwREy4WYM_Kxd4rjUHQjbk/view?usp=drive_link/download" target="_blank" title="Clique aqui para baixar" data-tippreview-enabled="false" data-tippreview-image="" data-tippreview-title="">Baixar planilha</a></td>
</tr>
<tr>
    <td>Documento CSV de Acidentes 2017 (Agrupados por pessoa - Todas as causas e tipos de acidentes)</td>
    <td><a href="https://drive.google.com/file/d/1Kv5mNgZvxtl0xwqsmDrxcaLY2KELxR-3/view?usp=drive_link/download" target="_blank" title="Clique aqui para baixar" data-tippreview-enabled="false" data-tippreview-image="" data-tippreview-title="">Baixar planilha</a></td>
</tr>
<tr>
    <td>Documento CSV de Acidentes 2016 (Agrupados por ocorrência)</td>
    <td><a href="https://drive.google.com/file/d/16qooQl_ySoW61CrtsBbreBVNPYlEkoYm/view?usp=drive_link/download" target="_blank" title="Clique aqui para baixar" data-tippreview-enabled="false" data-tippreview-image="" data-tippreview-title="">Baixar planilha</a></td>
</tr>
<tr>
    <td>Documento CSV de Acidentes 2016 (Agrupados por pessoa)</td>
    <td><a href="https://drive.google.com/file/d/1zaBGNLk50krRVOxZmB-kfJl6zSOTdmMP/view?usp=drive_link/download" target="_blank" title="Clique aqui para baixar" data-tippreview-enabled="false" data-tippreview-image="" data-tippreview-title="">Baixar planilha</a></td>
</tr>
<tr>
    <td>Documento CSV de Acidentes 2015 (Agrupados por ocorrência)</td>
    <td><a href="https://drive.google.com/file/d/1DyqR5FFcwGsamSag-fGm13feQt0Y-3Da/view?usp=drive_link/download" target="_blank" title="Clique aqui para baixar" data-tippreview-enabled="false" data-tippreview-image="" data-tippreview-title="">Baixar planilha</a></td>
</tr>
<tr>
    <td>Documento CSV de Acidentes 2015 (Agrupados por pessoa)</td>
    <td><a href="https://drive.google.com/file/d/1oisqFB_DD3jAChYxBmiyQVR9WrGOwvQt/view?usp=drive_link/download" target="_blank" title="Clique aqui para baixar" data-tippreview-enabled="false" data-tippreview-image="" data-tippreview-title="">Baixar planilha</a></td>
</tr>
<tr>
    <td>Documento CSV de Acidentes 2014 (Agrupados por ocorrência)</td>
    <td><a href="https://drive.google.com/file/d/1FpF5wTBsRDkEhLm3z2g8XDiXr9SO9Uk8/view?usp=drive_link/download" target="_blank" title="Clique aqui para baixar" data-tippreview-enabled="false" data-tippreview-image="" data-tippreview-title="">Baixar planilha</a></td>
</tr>
<tr>
    <td>Documento CSV de Acidentes 2014 (Agrupados por pessoa)</td>
    <td><a href="https://drive.google.com/file/d/1qmCExfnS3nTYIZhDdJblJnn0jlTLWR3K/view?usp=drive_link/download" target="_blank" title="Clique aqui para baixar" data-tippreview-enabled="false" data-tippreview-image="" data-tippreview-title="">Baixar planilha</a></td>
</tr>
<tr>
    <td>Documento CSV de Acidentes 2013 (Agrupados por ocorrência)</td>
    <td><a href="https://drive.google.com/file/d/1p_7lw9RzkINfscYAZSmc-Z9Ci4ZPJyEr/view?usp=drive_link/download" target="_blank" title="Clique aqui para baixar" data-tippreview-enabled="false" data-tippreview-image="" data-tippreview-title="">Baixar planilha</a></td>
</tr>
<tr>
    <td>Documento CSV de Acidentes 2013 (Agrupados por pessoa)</td>
    <td><a href="https://drive.google.com/file/d/1-zd3x9aTHD5cQH7SWGMDOQ-4-DuxVV1T/view?usp=drive_link/download" target="_blank" title="Clique aqui para baixar" data-tippreview-enabled="false" data-tippreview-image="" data-tippreview-title="">Baixar planilha</a></td>
</tr>
<tr>
    <td>Documento CSV de Acidentes 2012 (Agrupados por ocorrência)</td>
    <td><a href="https://drive.google.com/file/d/18Yz2prqKSLthrMmW-73vrOiDmKTCL6xE/view?usp=drive_link/download" target="_blank" title="Clique aqui para baixar" data-tippreview-enabled="false" data-tippreview-image="" data-tippreview-title="">Baixar planilha</a></td>
</tr>
<tr>
    <td>Documento CSV de Acidentes 2012 (Agrupados por pessoa)</td>
    <td><a href="https://drive.google.com/file/d/1FYqtz2_QMvk0eOMhs9TOQHrmF4uOvv_W/view?usp=drive_link/download" target="_blank" title="Clique aqui para baixar" data-tippreview-enabled="false" data-tippreview-image="" data-tippreview-title="">Baixar planilha</a></td>
</tr>
<tr>
    <td>Documento CSV de Acidentes 2011 (Agrupados por ocorrência)</td>
    <td><a href="https://drive.google.com/file/d/1HHhgLF-kSR6Gde2qOaTXL3T5ieD33hpG/view?usp=drive_link/download" target="_blank" title="Clique aqui para baixar" data-tippreview-enabled="false" data-tippreview-image="" data-tippreview-title="">Baixar planilha</a></td>
</tr>
<tr>
    <td>Documento CSV de Acidentes 2011 (Agrupados por pessoa)</td>
    <td><a href="https://drive.google.com/file/d/1XTcOujBbP_8AEYYrOfjxGxzqHcQYLNy2/view?usp=drive_link/download" target="_blank" title="Clique aqui para baixar" data-tippreview-enabled="false" data-tippreview-image="" data-tippreview-title="">Baixar planilha</a></td>
</tr>
<tr>
    <td>Documento CSV de Acidentes 2010 (Agrupados por ocorrência)</td>
    <td><a href="https://drive.google.com/file/d/1_yU6FRh8M7USjiChQwyF20NtY48GTmEX/view?usp=drive_link/download" target="_blank" title="Clique aqui para baixar" data-tippreview-enabled="false" data-tippreview-image="" data-tippreview-title="">Baixar planilha</a></td>
</tr>
<tr>
    <td>Documento CSV de Acidentes 2010 (Agrupados por pessoa)</td>
    <td><a href="https://drive.google.com/file/d/1Zg9SdeQa72Gu49ZhJosBuM7TkJcEYiaI/view?usp=drive_link/download" target="_blank" title="Clique aqui para baixar" data-tippreview-enabled="false" data-tippreview-image="" data-tippreview-title="">Baixar planilha</a></td>
</tr>
<tr>
    <td>Documento CSV de Acidentes 2009 (Agrupados por ocorrência)</td>
    <td><a href="https://drive.google.com/file/d/1qkVatg0pC_zosuBs0NCSgEXDJvBbnTYC/view?usp=drive_link/download" target="_blank" title="Clique aqui para baixar" data-tippreview-enabled="false" data-tippreview-image="" data-tippreview-title="">Baixar planilha</a></td>
</tr>
<tr>
    <td>Documento CSV de Acidentes 2009 (Agrupados por pessoa)</td>
    <td><a href="https://drive.google.com/file/d/1gysMdwpeT3h4CUOGDkQMvFJzPp1Fn-bg/view?usp=drive_link/download" target="_blank" title="Clique aqui para baixar" data-tippreview-enabled="false" data-tippreview-image="" data-tippreview-title="">Baixar planilha</a></td>
</tr>
<tr>
    <td>Documento CSV de Acidentes 2008 (Agrupados por ocorrência)</td>
    <td><a href="https://drive.google.com/file/d/1_OSeHlyKJw8cIhMS_JzSg1RlYX8k6vSG/view?usp=drive_link/download" target="_blank" title="Clique aqui para baixar" data-tippreview-enabled="false" data-tippreview-image="" data-tippreview-title="">Baixar planilha</a></td>
</tr>
<tr>
    <td>Documento CSV de Acidentes 2008 (Agrupados por pessoa)</td>
    <td><a href="https://drive.google.com/file/d/1gabSVTay5faBo4r9VNksgxhKXuuxu71U/view?usp=drive_link/download" target="_blank" title="Clique aqui para baixar" data-tippreview-enabled="false" data-tippreview-image="" data-tippreview-title="">Baixar planilha</a></td>
</tr>
<tr>
    <td>Documento CSV de Acidentes 2007 (Agrupados por ocorrência)</td>
    <td><a href="https://drive.google.com/file/d/1EFpZF5F6cB0DOHd2Uxnj7X948WE69a8e/view?usp=drive_link/download" target="_blank" title="Clique aqui para baixar" data-tippreview-enabled="false" data-tippreview-image="" data-tippreview-title="">Baixar planilha</a></td>
</tr>
<tr>
    <td>Documento CSV de Acidentes 2007 (Agrupados por pessoa)</td>
    <td><a href="https://drive.google.com/file/d/1v2tz5wJYFlPBb-8ZIf-pchbSO-JT4YZG/view?usp=drive_link/download" target="_blank" title="Clique aqui para baixar" data-tippreview-enabled="false" data-tippreview-image="" data-tippreview-title="">Baixar planilha</a></td>
</tr>
<tr>
    <td>Dicionário de Dados - Acidentes</td>
    <td><a href="https://www.gov.br/prf/pt-br/acesso-a-informacao/dados-abertos/dicionario-acidentes">ACESSE AQUI</a></td>
</tr>
</tbody>
</table>


<!-- FIM DOS DADOS -->